@font-face {
    font-family: gilroy;
    src: url(./resources/Gilroy-Light.otf);
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}
nav{
    width: 100%;
    height: 60px;
    background-color:rgb(231, 239, 254);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
nav i{
    color: rgb(17, 110, 241);
    font-size: 32px;
}
#mid{
    
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 22px;
    color: black;
    cursor: pointer;
}
.cta{
    border: 2px skyblue solid; 
    padding: 10px 18px;
    border-radius: 14px;
    color: white;
    background: linear-gradient( rgb(17, 110, 241),rgb(28, 172, 229) );
    border: none;
    cursor: pointer;

}
.cta:active{
    scale: 0.95;
}
#main{
    width: 100%;
    height: 700px;
    background: linear-gradient(rgb(224, 238, 245),rgb(225, 233, 242),rgb(214, 227, 251));
}
#hero{
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:12px;
    padding-top: 200px;
}
#hero h2{
    font-size: 4rem;
    font-weight: 760;

}
#hero input{
    width:500px;
    height: 40px;
    margin: 20px;
    border-radius: 11px;
    border: none;
    padding-left: 14px;
}
#hero p{
       font-size: 20px;
       color: rgb(149, 147, 147);
       text-transform: capitalize;
}
#inline{
    display: flex;
    align-items: center;
    justify-content: center;
}
#line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#resource{ 
    width: 100%;
    height:450px;
    background-color: white;
     display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
}
.card{
    height: 270px;
    width: 380px;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    font-size: 28px;
    transition : box-shadow 0.14s,
                height 0.14s,
                width 0.14s;
}

.card:hover {
    box-shadow: 3px 1px 12px rgb(179, 179, 240);
    height : 280px;
    width : 390px;
}

.card h2{
    font-size: 28px;
    text-transform: capitalize;
}
.card p{
    color: rgb(149, 147, 147);
    font-size: 18px;
}
.card i{
    font-size: 40px;
    border: 2px skyblue solid; 
    padding: 15px 18px;
    border-radius:50%;
    color: white;
   background-color: rgb(220, 205, 238);
   border : none;
}
#exams{
    width: 100%;
    height:800px;
    background: linear-gradient(rgb(224, 238, 245),rgb(225, 233, 242),rgb(214, 227, 251));
}
center h2{
    font-size: 32px;
    font-weight: 600;
}
center p {
    color: rgb(149, 147, 147);
    font-size: 20px;
}
.wrapper{
    width: 92%;
    height: 500px;
    
    margin-left: 4%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}
.card2{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 3px;
    gap: 12px;
    border-radius: 20px;
    text-transform: capitalize;
    cursor: pointer;
     transition : box-shadow 0.14s;
     background-color: white;
}
.card2:hover{
    box-shadow: 3px 1px 12px rgb(139, 139, 238);

}

.crd{ 
    font-size: 30px;
    width: 50px;
    font-size: 30px;
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(178, 225, 249);
    cursor: pointer;
    border: none;
    
   
}



.card2 p{
    font-size: 16px;
    color: rgb(149, 147, 147);
}
#end{
    width: 100%;
    height: 350px;
    background: linear-gradient(rgb(224, 238, 245),rgb(225, 233, 242),rgb(243, 244, 250));
}
#foot{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    text-transform: capitalize;
    padding-top: 100px;
}
#foot h2{
    font-size: 38px;
    font-weight: 700;
}
#foot p{
    font-size: 20px;
    color: rgb(149, 147, 147);
}
.btn{

    font-size:16px;
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: skyblue;
}

#last{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color : black;
    transition : color 0.15s;
}

a:hover {
    color :rgb(179, 179, 240);
}
