@font-face {
    font-family: gilroy;
    src: url(./resources/Gilroy-Light.otf);
}
@font-face{
    font-family: boldgilroy;
    src: url(./resources/Gilroy-ExtraBold.otf)
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
    background-color: #F9FAFB;
}
 #main{
        width: 100%;
    height: 80%;
        background-color: #F9FAFB;
       
    }

#p1{ 
    margin-left: 32px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
    
    

}
a{
text-decoration: none;
color: black;
    
}
.c1 #btn3 a{
    color: white;
}
#hero{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    background-color: #F9FAFB;
    gap: 13px;
    text-align: center;
}
input{
    width:50%;
    height:35px;
    border-radius: 12px;
    
}
#hero h1{
          font-size: 68px;
          font-weight: 900;
          
}
#hero p{
          font-size: 18px;
          color: gray;
}
#blocks{
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 120px;
    
}
.b1{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    
    height: 98%;
    width: 280px;
    text-transform: capitalize;
    border-radius: 20px;
    border: .5px solid gray;
}
.b1 h1{
    font-size: 38px;
    font-weight: 800;
    color: rgb(71, 156, 252);
}
#resource{
    width: 92%;
    height: 600px;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-left: 4%;
    margin-top: 120px;
}
.c1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
border-radius: 6px;
    text-transform: capitalize;
    padding-left: 25px;
     background-color: #fff;
     border: 1px solid black;
}
.c1 h2{
font-size: 28px;
font-weight: 800;

}
.c1 #in{
    font-size: 40px;
    border: 1px solid white;
    background-color: white;
    width: 60px;
    text-align: center;
    border-radius: 15px;
    color: rgb(91, 174, 251);
}
.wrap{
    display: flex;
    gap: 6px;
}
.wrap i{
    font-size: 20px;
    border: none;
}
#btn3{
    border: 1px solid blue;
    background-color: blue;
    width: 285px;
    height: 28px;
    text-align: center;
    border-radius: 20px;
    color: white;
    
}
   #end{
    width: 92%;
    height: 300px;
    text-transform: capitalize;
    display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
    margin-left: 4%;
    margin-top: 20px;
    gap: 18px;
   }
   #btn{
    border: 2px skyblue solid; 
    padding: 10px 18px;
    border-radius: 14px;
    color: white;
    background: linear-gradient( rgb(17, 110, 241),rgb(28, 172, 229) );
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: center;
    margin-left: 43%;
   }
   #btn:active{
    scale: 0.95;
   }
   .c1:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.06);    
   }